@model SimpleSocialNetworkShared.PostViewModel

@{
    ViewData["Title"] = "Post";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<style>
    body {
        background: linear-gradient(45deg, rgba(0,0,0,1) 40%, rgba(75,170,329,1) 60%)
    }

    .form-group {
        margin-top: 10px;
    }

    .inputbox {
        border-bottom: 4px solid #fff;
    }

    .form-control {
        border-bottom: 2px solid #fff;
        height: 50px;
        background: transparent;
        border: none;
        color: #fff;
    }

    .form-control:focus {
        outline: none;
        box-shadow: none;
        background: transparent;
        color: #fff;
    }

    .form-control::placeholder {
        color: #fff;
    }

    #edit-button {
        width: 100%;
        border-radius: 25px;
        background: transparent;
        color: #fff;
    }

    #edit {
        padding: 10vh;
        background-color: rgba(255, 255, 255, 0.20);
        border-radius: 25px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(7.7px);
        text-align: center;
        color: #fff
    }
</style>

<div class="row">
    <div class="col-md-3"></div>
    <div id="edit" class="col-md-6">
        <form asp-action="EditPost" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>
            <div class="form-group inputbox">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-light" id="edit-button" />
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
