@model SimpleSocialNetworkShared.LoginDTO

@{
    ViewData["Title"] = "ForgetPassword";
}

<style>
    body {
        background: linear-gradient(45deg, rgba(0,0,0,1) 40%, rgba(75,170,329,1) 60%)
    }

    .inputbox {
        border-bottom: 4px solid #fff;
    }

    .form-control {
        height: 50px;
        background: transparent;
        border: none;
        color: #fff;
    }

    .form-control:focus {
        outline: none;
        box-shadow: none;
        background: transparent;
        color: #fff;
    }

    .form-control::placeholder {
        color: #fff
    }

    .form-group {
        margin-top: 10px;
    }

    #forgetPassword {
        padding: 10vh;
        background-color: rgba(255, 255, 255, 0.20);
        border-radius: 25px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(7.7px);
        text-align: center;
        color: #fff
    }

    #forgetPassword-button {
        width: 100%;
        border-radius: 25px;
        background: transparent;
        color: #fff;
    }
</style>

<div class="container" style="margin-top: 20vh;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="forgetPassword">
            <form asp-action="ForgetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group inputbox">
                    <input asp-for="Email" class="form-control" placeholder="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="forgetPassword-button" type="submit" value="Send Email" class="btn btn-light" />
                </div>
                <div>
                    @Html.ActionLink("Back to main page", "Index", "Home", null,  new { @style="text-decoration: none; color: #fff; float: left; padding-top: 7px;"})
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
