@page "/ResetPassword"
@model SimpleSocialNetworkAPI.Pages.ResetPasswordModel
@{
}

<style>
    body {
        background: linear-gradient(45deg, rgba(0,0,0,1) 40%, rgba(75,170,329,1) 60%)
    }

    .inputbox {
        border-bottom: 4px solid #fff;
    }

    .form-control {
        height: 50px;
        background: transparent;
        border: none;
        color: #fff;
    }

    .form-control:focus {
        outline: none;
        box-shadow: none;
        background: transparent;
        color: #fff;
    }

    .form-control::placeholder {
        color: #fff
    }

    .form-group {
        margin-top: 10px;
    }

    #email {
        padding: 10vh;
        background-color: rgba(255, 255, 255, 0.20);
        border-radius: 25px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(7.7px);
        text-align: center;
        color: #fff
    }

    #reset-button {
        width: 100%;
        border-radius: 25px;
        background: transparent;
        color: #fff;
    }
</style>

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>ResetPassword</title>
    </head>
    <body>
        <h1 style="text-align:center">Reset password</h1>
        <div style="margin-top: 20vh">
            <div class="row" style="display:flex; flex-direction:column; justify-items:center; align-items:center">
                <div class="col-md-3"></div>
                <div id="email" class="col-md-6">
                    <form action="/api/auth/resetpassword" method="post">
                        <input type="hidden" name="Token" value="@Request.Query["Token"]" />
                        <input type="hidden" name="Email" value="@Request.Query["Email"]" />
                        <div class="form-group inputbox" style="padding-bottom:10px">
                            <input type="password" class="form-control" placeholder="New password" name="NewPassword">
                        </div>
                        <div class="form-group inputbox" style="padding-bottom:10px">
                            <input type="password" class="form-control" placeholder="Confirm password" name="ConfirmPassword">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Reset" class="btn btn-outline-info" id="reset-button" />
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </body>
</html>